/* custom font */
@font-face {
	font-family: "tstar";
	font-weight: normal;
	src: url('tstar-regular-webfont.woff2') format('woff2');
}
@font-face {
	font-family: "tstar";
	font-weight: bold;
	src: url('tstar-bold-webfont.woff2') format('woff2');
}
@font-face {
	font-family: "tstar";
	font-weight: normal;
	font-style: italic;
	src: url('tstar-italic-webfont.woff2') format('woff2');
}
@font-face {
	font-family: "tstar";
	font-weight: bold;
	font-style: italic;
	src: url('tstar-bolditalic-webfont.woff2') format('woff2');
}

/* Bootstrap variable overrides */
$font-family-sans-serif:	tstar;

/* Bootstrap and its default variables */
@import "node_modules/bootstrap/scss/bootstrap";

/* app root */
#app {
	&:fullscreen {
		background: url('../img/background-l.png') white repeat;
		& .not-fullscreen { display: none; }
	}
	&:not(:fullscreen) .fullscreen { display: none; }
	// fix <hr> not standing out
	& hr {
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding-top: 1px;
		background: lightgray;
	}
}

/* component style overrides */
#app {
	& .vc-slider-hue-warp {
		height: 20px;
		& .vc-hue-picker {
			width: 25px;
			height: 25px;
			transform: translate(-14px, -4px);
			border-radius: 12px;
			box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.7);
		}
	}
	& .vc-slider-swatch-picker { height: 20px; }
}
// patch defunct CSS in component (https://github.com/xiaokaike/vue-color/pull/174)
.vc-slider-swatch:nth-child(n) .vc-slider-swatch-picker.vc-slider-swatch-picker--active { border-radius: 3.6px/2px; }

/* custom elements */
// fading backgrounds
.fade-bg {
	transition: background-color .75s ease-out;
}

// common buttons in the interface
button.buy, button.done {
	font-size: 1.5rem;
}

// a user card
.card.user {
	// behave like a link as we are clickable
	@extend a;
	cursor: pointer;
	// have glass-effect background except for colored guest button
	// does not work on Android background: url('../img/background-glass.png') white repeat fixed;
	background: rgba(255,255,255,.65);
	&.guest { background: none; @extend .bg-warning; }
}

// a product card in grid
.card.product {
	min-height: 100%;
	& .card-body {
		padding-top: .75rem; // reduced padding
		// fade background out in text area
		background: linear-gradient(to bottom,
									rgba(240, 240, 240, .85),
									transparent 65%);
		//							rgba( 60,  60,  60, .95));
	}
	& .card-text { // also make text stand out
		text-shadow: 2px 2px 6px white, -2px -2px 6px white;
	}
	& button:not(:hover) { background: rgba(255, 255, 255, 0.85); }
}

// a cancelled transaction
tr.cancelled {
	text-decoration: line-through wavy theme-color("danger");
	& td {
		background: none !important;
		color: inherit !important;
	}
}

// a table cell to contain a button
td.button {
	// reduce padding so the button fits
	padding-top: 0.3rem; // like table-sm
	padding-bottom: 0.3rem;
	vertical-align: middle;
}

/* main view animation (user select / product select) */
.slide-leave-active,
.slide-enter-active {
	transition: .5s ease-in-out;
}
.slide-enter {
	transform: translate(100%, 0);
}
.slide-leave-to {
	transform: translate(-100%, 0);
}
.slide > div {
	position: absolute;
}

.slowfade {
	transition: opacity 1.25s ease-out;
	&.gone {
		opacity: 0;
	}
}
