// custom font
@font-face {
	font-family: "tstar";
	font-weight: normal;
	src: url('tstar-regular-webfont.woff2') format('woff2');
}
@font-face {
	font-family: "tstar";
	font-weight: bold;
	src: url('tstar-bold-webfont.woff2') format('woff2');
}
@font-face {
	font-family: "tstar";
	font-weight: normal;
	font-style: italic;
	src: url('tstar-italic-webfont.woff2') format('woff2');
}
@font-face {
	font-family: "tstar";
	font-weight: bold;
	font-style: italic;
	src: url('tstar-bolditalic-webfont.woff2') format('woff2');
}

// Bootstrap variable overrides
$font-family-sans-serif:	tstar;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

// custom elements
button.buy, button.done {
	font-size: 2rem;
}

.product > .card {
	min-height: 100%;
}

// our animation
#app {
	overflow-x: hidden;
}

.slide-leave-active,
.slide-enter-active {
	transition: .5s ease-in-out;
}
.slide-enter {
	transform: translate(100%, 0);
}
.slide-leave-to {
	transform: translate(-100%, 0);
}
.slide > div {
	position: absolute;
}
