<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">

	<title>Getränke</title>
	<meta name="description" content="Freilab Getränkeabrechnungssystem">
	<meta name="author" content="Johannes Jordan">
	<link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
	{% for file in assets.css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/'+file+'.css') }}">
	{% endfor %}
	{% for file in assets.js %}
	<script defer src="{{ url_for('static', filename='js/'+file+'.js') }}"></script>
	{% endfor %}
	<script defer type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script>let initial = {{ payload|tojson|safe }};</script>
</head>
<body>
	<noscript>
		<style>#app { display:none; }</style>
		<div class="alert alert-danger" role="alert">Please enable Javascript to make this work.</div>
	</noscript>
	{% raw %}
	<style>[v-cloak] { display: none; }</style>
	<div id='app' v-cloak>
		<transition-group name="slide" class="slide" tag="div">
		<div key="products" v-if="currentUser" class="w-100">
			<b-navbar :style="{ backgroundColor: currentUser.color }" type="dark">
				<template v-if="currentUser != guestUser">
					<b-navbar-brand>Hallo, {{ currentUser.username }}!</b-navbar-brand>
					<b-navbar-brand>
						Dein Guthaben: €
						<strong
							:class="{'bg-danger': currentUser.balance<0, 'text-warning': currentUser.balance<5 && currentUser.balance>=0}"
						>
							<animated-number :value="currentUser.balance" :decimals=2></animated-number>
						</strong>
					</b-navbar-brand>
				</template>
				<template v-else>
					<b-navbar-brand>
						Getränkeabgabe auf <strong class="bg-danger">freiwilliger Spendenbasis</strong>.
						<small>Abgabe nur an Gäste — Vereinsmitglieder bitte eigenes Konto anlegen!</small>
					</b-navbar-brand>
				</template>
			</b-navbar>
			<b-container fluid>
				<b-row class="mt-2 mb-2" align-h="between" align-v="end">
					<b-col>
						<h1>Was möchtest du?</h1>
					</b-col>
					<b-col cols="3">
						<b-button v-on:click="deselect_user"
							variant="primary" block size="lg"
							class="done"
						>
							Fertig
						</b-button>
					</b-col>
				</b-row>
				<b-card-group
					v-for="i in Math.ceil(products.length / 5)" :key="i"
					deck class="mb-4"
				>
					<product 
						v-for="p in products.slice((i-1)*5, i*5)"
						:key="p.id"
						:ref="'product' + p.id"
						:product="p" v-on:order="buy(p)"
						class="product" style="max-width: 18%"
					></product>
				</b-card-group>
			</b-container>
		</div>
		<div key="users" v-show="currentUser == null" class="w-100">
			<b-navbar variant="dark" type="dark">
				<b-navbar-brand>Zum Wohl!</b-navbar-brand>
				<b-nav-text class="text-light">
					Getränkeabrechnung im Freilab
				</b-nav-text>
			</b-navbar>
			<b-container fluid>
				<b-row class="mt-2 mb-2" align-h="between" align-v="center">
					<b-col cols="3">
						<h1>Wer trinkt?</h1>
					</b-col>
					<b-col>
						<b-form-input v-model.trim="userFilter"
							type="search" placeholder="Name suchen"
							size="lg"
						></b-form-input>
					</b-col>
					<b-col offset="1" cols="2">
						<b-button v-on:click="new_user"
							variant="success" block size="lg"
						>
							Ich bin neu
						</b-button>
					</b-col>
				</b-row>
				<b-collapse id="patrons" :visible="!userFilter">
					<b-row>
						<b-col v-for="u in favoriteUsers" :key="u.id"
							sm="6" md="4" lg="3" xl="2"
							class="user">
							<user :user="u" v-on:select="select_user(u)"
								border-variant="primary"
							></user>
						</b-col>
						<b-col v-if="guestUser"
							sm="6" md="4" lg="3" xl="2"
							class="user ml-auto">
							<user :user="guestUser" v-on:select="select_user(guestUser)"
								bg-variant="warning"
							></user>
						</b-col>
					</b-row>
				</b-collapse>
				<hr :class="{slowfade: true, gone: userFilter}">
				<b-row>
					<b-col v-for="u in filteredUsers" :key="u.id"
						sm="6" md="4" lg="3" xl="2"
						class="mb-4 user">
						<user :user="u" v-on:select="select_user(u)"
						></user>
					</b-col>
				</b-row>
			</b-container>
		</div>
		</transition-group>
		<b-alert variant="danger" fade
			:show="!connected"
		>
			<i class="float-left text-danger fas fa-2x fa-bolt" style="margin-right: 1ex;"></i>
			Verbindung zum Server unterbrochen!
		</b-alert>
		<b-alert variant="danger" dismissible fade
			:show="showErrorAlert" @dismissed="showErrorAlert=false"
		>
			<i class="float-left text-danger fas fa-3x fa-bolt" style="margin-right: 1ex;"></i>
			Ups, da ist etwas schiefgelaufen!
			Bitte versuch es noch einmal oder melde das Problem:
			<p><b>{{ lastServerError }}</b></p>
		</b-alert>
	</div>
	{% endraw %}
</body>
</html>
