<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">

	<title>Getränke</title>
	<meta name="description" content="Freilab Getränkeabrechnungssystem">
	<meta name="author" content="Johannes Jordan">
	<link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
	{% for file in assets.css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/'+file+'.css') }}">
	{% endfor %}
	{% for file in assets.js %}
	<script defer src="{{ url_for('static', filename='js/'+file+'.js') }}"></script>
	{% endfor %}
	<script defer type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script>let initial = {{ payload|tojson|safe }};</script>
</head>
<body>
	<noscript>
		<style>#app { display:none; }</style>
		<div class="alert alert-danger" role="alert">Please enable Javascript to make this work.</div>
	</noscript>
	{% raw %}
	<style>[v-cloak] { display: none; }</style>
	<div id='app' v-cloak>
		<transition-group name="slide" class="slide" tag="div">
		<div key="products" v-if="current_user" class="w-100">
			<b-navbar :style="{ backgroundColor: current_user.color }" type="dark">
				<b-navbar-brand>Hallo, {{ current_user.username }}!</b-navbar-brand>
				<b-navbar-brand>
					Dein Guthaben: €
					<strong 
						:class="{'bg-danger': current_user.balance<0, 'text-warning': current_user.balance<5 && current_user.balance>=0}"
					>
						<animated-number :value="current_user.balance" :decimals=2></animated-number>
					</strong>
				</b-navbar-brand>
			</b-navbar>
			<b-container fluid>
				<b-row class="mt-2 mb-2" align-h="between" align-v="end">
					<b-col>
						<h1>Was möchtest du?</h1>
					</b-col>
					<b-col cols="3">
						<b-button v-on:click="deselect_user"
							variant="primary" block size="lg"
							class="done"
						>
							Fertig
						</b-button>
					</b-col>
				</b-row>
				<b-row>
					<b-col v-for="p in products" :key="p.id"
						sm="6" md="6" lg="4" xl="3"
						class="mb-4 product">
						<product :product="p" v-on:order="buy(p)"></product>
					</b-col>
				</b-row>
			</b-container>
		</div>
		<div key="users" v-show="current_user == null" class="w-100">
			<b-navbar variant="dark" type="dark">
				<b-navbar-brand>Zum Wohl!</b-navbar-brand>
				<b-nav-text class="text-light">
					Getränkeabrechnung im Freilab
				</b-nav-text>
			</b-navbar>
			<b-container fluid>
				<b-row class="mt-2 mb-2" align-h="between" align-v="center">
					<b-col cols="3">
						<h1>Wer trinkt?</h1>
					</b-col>
					<b-col>
						<b-form-input v-model.trim="user_filter"
							type="search" placeholder="Name suchen"
							size="lg"
						></b-form-input>
					</b-col>
					<b-col offset="1" cols="2">
						<b-button v-on:click="new_user"
							variant="success" block size="lg"
						>
							Ich bin neu
						</b-button>
					</b-col>
				</b-row>
				<b-row>
					<b-col v-for="u in filtered_users" :key="u.id"
						sm="6" md="4" lg="3" xl="2"
						class="mb-4 user">
						<user :user="u" v-on:select="select_user(u)"></user>
					</b-col>
				</b-row>
			</b-container>
		</div>
		</transition-group>
	</div>
	{% endraw %}
</body>
</html>
